<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UoB Startup Society</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
    <!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125824067-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125824067-1');
    </script>

    <!-- ManyChat -->
    <!-- ManyChat -->
    <script src="//widget.manychat.com/116256829054923.js" async="async"></script>

    <!-- FB Events connection -->
    <script src="js/events.js"></script>
</head>
<body onload="fetchEvents();">
    <!---->
    <header class="header_area" id="home">
        <div class="main_header_area animated">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-9">
                        <div class="logo_area">
                            <a href="index.html"><img style="width: 50px;" src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-12">
                        <div class="main_menu_area">
                            <div class="mainmenu">
                                <nav>
                                    <ul id="nav">
                                        <li class="current_page_item"><a href="#particle">Home</a>
                                        </li>
                                        <li><a href="#events">Events</a>
                                        </li>
                                        <li><a href="#resources">Resources</a>
                                        </li>
                                        <li><a href="#about">About</a>
                                        </li>
                                        <li><a href="#team">Team</a>
                                        </li>
                                        <li><div id="startupgames"><a target="_blank" href="https://startupgames.startupsoc.co.uk"><span id="startupgames-icon"></span>Startup Games</a></div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!---->
    <section class="welcome_area background-overlay parallax clearfix" id="particle" style="background-image: url(img/backdrop.png);">
      <div class="table hero_title">
        <div class="table_cell">
          <div class="welcome_text text-center welcome_fade_text">
              <div class="default-title">
                  <h2>Birmingham University's most innovative society</h2>
              </div>
              <div class="default-description">
                  <p>Whether you're looking to start the next Facebook or learn the basics of entrepreneurship, Startup Soc is for you!
                  <br>Get in touch to see how we can help.</p>
              </div>
              <a href="https://www.facebook.com/uobstartupsoc/" class="btn uobss-btn" target="_blank"><i class="fas fa-thumbs-up"></i> Like our page</a><br>
              <a href="https://www.guildofstudents.com/organisation/startup/" class="btn uobss-btn large" target="_blank"><i class="fas fa-user-plus"></i> Join the society</a>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <section class="upcoming_events_area section_padding_100_150" id="events">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading">
                        <h2>Events</h2>
                        <h5>&#x1f60E; Come join us at our super cool get-togethers &#x1f60E;</h5>
                    </div>
                </div>
            </div>
            <div id="events-container" class="row">
              <p id="no-events-info" class="text-center center-vertically" style="display: none;">There are no events planned out at the moment, like our <a href=https://www.facebook.com/uobstartupsoc/>facebook page</a> to get updated on events we will announce shortly!</p>
              <div id="events-loader" class="loader"></div>

              <!-- Generated events -->
            </div>
        </div>
    </section>
    <!---->
    <section class="resources-area bg-brand-navy brand-green clearfix" id="resources">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading">
                        <h2>Resources</h2>
                        <h5>&#x1F680; Check out all the free resources available to grow your startup &#x1F680;</h5>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12 bg-brand-green brand-navy jumbotron resources-jumbo">
                <div class="row">
                  <ul id="resources-tab" role="tablist">
                    <li class="col-sm-3 col-xs-6">
                        <a id="accelerator-tab" data-toggle="tab" href="#accelerator" role="tab" aria-controls="accelerator" aria-selected="true">
                         <div class="img-circle resources-thumb bg-brand-navy brand-green relative">
                           <img src="img/res-img/bizzinn-logo.png" class="img-circle absolute">
                           <h5 class="relative text-center">ACCELERATOR</h5>
                         </div>
                       </a>
                    </li>
                    <li class="col-sm-3 col-xs-6 active">
                      <a id="funding-tab" data-toggle="tab" href="#funding" role="tab" aria-controls="funding" aria-selected="false">
                        <div class="img-circle resources-thumb bg-brand-navy brand-green relative">
                          <img src="img/res-img/money.jpg" class="img-circle absolute">
                          <h5 class="relative text-center">FUNDING</h5>
                        </div>
                      </a>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                      <a id="networking-mentoring-tab" data-toggle="tab" href="#networking-mentoring" role="tab" aria-controls="networking-mentoring" aria-selected="false">
                        <div class="img-circle resources-thumb bg-brand-navy brand-green relative">
                          <img src="img/res-img/cn-mentoring.jpg" class="img-circle absolute">
                          <h5 class="relative text-center">MENTORING</h5>
                        </div>
                      </a>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                      <a id="competitions-tab" data-toggle="tab" href="#competitions" role="tab" aria-controls="competitions" aria-selected="false">
                        <div class="img-circle resources-thumb bg-brand-navy brand-green relative">
                          <img src="img/res-img/startup-games-logo.jpg" class="img-circle absolute">
                          <h5 class="relative text-center">COMPETITIONS</h5>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <br/>
                <div class="row tab-content" id="uni-res-tab-content">
                  <div class="resource-details tab-pane fade" id="accelerator" role="tabpanel" aria-labelledby="accelerator-tab">
                    <ul>
                     <li>
                       <div class="row">
                           <div class="hidden-xs col-sm-2 col-md-1 section_padding_10_0">
                             <a href="http://www.bizzinn.org">
                               <img src="img/res-img/bizzinn-logo.png" class="img-circle">
                             </a>
                           </div>
                           <div class="col-xs-12 col-sm-10 col-md-11 section_padding_10_0">
                             <b>BizzInn</b> - Did you know our University has a special Business Acceleration Program for research spinouts and young high-tech startups?
                             If your company/idea is based on some scientific breakthrough or interesting technology, they can help you validate, develop,
                             and grow it to the commercial success! Visit their <a href="https://intranet.birmingham.ac.uk/finance/ris/Enterprise-Acceleration/index.aspx">intranet page</a>
                             or <a href="http://www.bizzinn.org/">dedicated website</a> for more.
                           </div>
                       </div>
                     </li>
                     <li>
                       <div class="row">
                           <div class="hidden-xs col-sm-2 col-md-1 section_padding_10_0">
                             <a href="https://www.business.natwest.com/business/services/accelerator.html">
                               <img src="img/res-img/natwest-logo.jpg" class="img-circle">
                             </a>
                           </div>
                           <div class="col-xs-12 col-sm-10 col-md-11 section_padding_10_0">
                             <b>NatWest Entrepreneur Accelerator</b> - NatWest's Accelerator, Pre-Accelerator, and Fintech Accelerator have been tailored to empower entrepreneurs at any stage.
                             They provide unique coaching, environments, digital learning, and connections. Find out more on the <a href="https://www.business.natwest.com/business/services/accelerator.html">Accelerator's web page</a>.
                           </div>
                       </div>
                     </li>
                   </ul>
                  </div>
                  <div class="resource-details tab-pane fade active in" id="funding" role="tabpanel" aria-labelledby="funding-tab">
                    <ul>
                     <li>
                       <div class="row">
                           <div class="hidden-xs col-sm-2 col-md-1 section_padding_10_0">
                             <a href="https://intranet.birmingham.ac.uk/as/employability/b-enterprising/programmes/b-enterprising-ideas-fund.aspx">
                               <img src="img/res-img/ideasfund.png" class="img-circle">
                             </a>
                           </div>
                           <div class="col-xs-12 col-sm-10 col-md-11 section_padding_10_0">
                             <b>B-Enterprising Ideas Fund</b> - Have an idea? Need some material, equipment, marketing campaign or something else that helps you test or grow?
                             The B-Enterprising Ideas Fund is here to help you! You can get seed funding to try your business idea out, even if it's just a plain idea at the moment.
                             Find out more on the <a href="https://intranet.birmingham.ac.uk/as/employability/b-enterprising/programmes/b-enterprising-ideas-fund.aspx">intranet page</a>.
                           </div>
                       </div>
                     </li>
                     <li>
                       <div class="row">
                           <div class="hidden-xs col-sm-2 col-md-1 section_padding_10_0">
                             <a href="https://www.birmingham.ac.uk/alumni/Currentstudents/Alumni-Impact-Fund-for-students.aspx">
                               <img src="img/res-img/alumniimpact-logo.jpg" class="img-circle">
                             </a>
                           </div>
                           <div class="col-xs-12 col-sm-10 col-md-11 section_padding_10_0">
                             <b>Alumni Impact Fund</b> - Fund made up of charitable donations from alumni of the University of Birmingham for innovative ideas
                             that can benefit student life and experience. All University of Birmingham students are eligible to apply! Find out more on the fund's
                             <a href="https://www.birmingham.ac.uk/alumni/Currentstudents/Alumni-Impact-Fund-for-students.aspx">intranet</a>!
                           </div>
                       </div>
                     </li>
                   </ul>
                  </div>
                  <div class="resource-details tab-pane fade" id="networking-mentoring" role="tabpanel" aria-labelledby="networking-mentoring-tab">
                    Mentoring is a great way to take your enterprising career to the next level. It not only allows you too access information
                    and advice from experienced professionals/entrepreneurs but also highly expand your network what is truly invaluable for an aspiring
                    entrepreneur. Careers Network provides great mentoring schemes where you can get the mentor from the group of the best Birmingham alumni.
                    People who are leaders in their fields, run multi-million dollar companies or are awarded awards like Forbes 30 under 30. Find out more on
                    the <a href="https://intranet.birmingham.ac.uk/as/employability/careers/mentoring/index.aspx">Careers Network Mentoring intranet</a>!
                  </div>
                  <div class="resource-details tab-pane fade" id="competitions" role="tabpanel" aria-labelledby="competitions-tab">
                     <ul>
                      <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1 section_padding_10_0">
                              <a href="https://www.facebook.com/uobstartupsoc/">
                                <img src="img/res-img/startup-games-logo.jpg" class="img-circle">
                              </a>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-11 section_padding_10_0">
                              <b>Startup Games</b> - Pitch your idea in 5 minutes to industry experts, successful entrepreneurs, and representatives of business giants for a chance to win a cash prize.
                              It's an amazing opportunity to practice your pitching skills, refine your business idea, and showcase it to potential investors. Follow our <a href="https://www.facebook.com/uobstartupsoc/">FB page</a> for updates.
                            </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1 section_padding_10_0">
                              <a href="https://intranet.birmingham.ac.uk/as/employability/b-enterprising/programmes/b-enterprising-boot-camp.aspx">
                                <img src="img/res-img/b-startup-logo.jpg" class="img-circle">
                              </a>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-11 section_padding_10_0">
                              <b>B-Enterprising Bootcamp</b> - An intensive and exciting 3-day weekend event exclusively for University of Birmingham students. Form teams, pick a challenge set by Virgin Start-Up and Careers Network, and then work together
                              to create a winning formula before pitching on the final day for a chance to win cash prizes and consultancy project opportunities. Read more and apply on the <a href="https://intranet.birmingham.ac.uk/as/employability/b-enterprising/programmes/b-enterprising-boot-camp.aspx">Bootcamp intranet page</a>.
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="about_area section_padding_200_70" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading">
                        <h2>About</h2>
                        <h5>&#x1F680; Our own personal startup story &#x1F680;</h5>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p>
                  Are you interested in learning how to start a business? Are you a big fan of Silicon Valley? Don't even know what Silicon Valley is? Don't worry, we're here for everyone. Our purpose is to encourage the spirit of entrepreneurship and the creation of startups at the University of Birmingham. We aim to teach you the entrepreneurial skills which you will find useful later on in your career, whether as a founder of your own enterprise or an employee at a company. Startup Soc is a platform where students can meet other students interested in technology, design, and business, discuss new trends and pursue their ideas together.
                  <br/><br/>
                  Startup Soc was founded in October 2017. This year is going to be our second year in operation and we've learnt a lot from the past year's failures and successes. In the 2018/2019 academic year Startup Society will be bigger, more quality-focused and we will ensure to provide you with both knowledge and the entrepreneurial fun.
                  <br/><br/>
                  During the academic year, we organise a variety of events such as <b>startup 101 lectures</b>, <b>company treks</b>, <b>workshops with tech giants</b>, <b>exploring new trends lectures</b>, <b>competitions</b>, and <b>socials</b>. To ensure the highest quality of delivery and content, we invite entrepreneurs from all over the UK to speak on topics that are crucial for us, entrepreneurs. All of our events are free. We're also in partnership with 4 other Birmingham universities which means that by joining us you receive exclusive access to a huge network of other student entrepreneurs and more events - all this also for free.
                  <br/><br/>
                  If you're looking to meet open-minded, motivated and smart people from a variety of backgrounds join us and help us on our mission to encourage entrepreneurship among students. It's going to be amazing, we promise!
                </p>
              </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="vision_area section_padding_100 background-overlay" id="vision">
        <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="text-center">We strive to foster the spirit of <span class="brand-green">entrepreneurship</span> and be a world&#8209;class <span class="brand-green">pre&#8209;accellerator</span> for startups driven by <span class="brand-green">Birmingham students</span>.</h3>
              </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="our_team_area clearfix section_padding_100_70" id="team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading">
                        <h2>Meet the Team</h2>
                        <h5>&#x1f913; Not all heroes wear capes &#x1f913;</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="single_team wow">
                        <div class="team_thumb">
                            <img src="img/team-img/andin.jpg" alt="Andin Farrel - Birmingham Startup Society">
                        </div>
                        <div class="single_team_details_info text-center">
                            <h4>Andin Farrel</h4>
                            <h5>Chief Executive Officer</h5>
                            <h5><a href="https://www.linkedin.com/in/andinfarrel/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn profile</a></h5>
                            <!-- <p>Ex-Googler, passionate about startups and technology. Apart from Google, Mateusz also gained business development and marketing experience working at a startup in Hong Kong and at 2 British startups. Advertising enthusiast with traditional print ads and Mad Men being his two biggest obsessions.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single_team wow">
                        <div class="team_thumb">
                            <img src="img/team-img/vilmos.jpg" alt="Vilmos Czeroczky - Birmingham Startup Society">
                        </div>
                        <div class="single_team_details_info text-center">
                            <h4>Vilmos Czeroczky</h4>
                            <h5>Chief Technology Officer</h5>
                            <h5><a href="https://www.linkedin.com/in/vilmos-czeroczky-45b050160/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn profile</a></h5>
                            <!-- <p>Total nerd, best AI&amp;CS student, hackathons addict. Kacper fortified his tech skills by interning at multiple companies including Amazon and JPMorgan. Usually, you can find him in CS labs working on some new cutting-edge AI application, if he's not there he's probably getting beaten on an MMA mat or networking with a local tech community.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single_team wow">
                        <div class="team_thumb">
                            <img src="img/team-img/ian.jpg" alt="Ian Arrindell - Birmingham Startup Society">
                        </div>
                        <div class="single_team_details_info text-center">
                            <h4>Ian Arrindell</h4>
                            <h5>Chief Operating Officer</h5>
                            <h5><a href="https://www.linkedin.com/in/ianarrindell/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn profile</a></h5>
                            <!-- <p>Tomer is an aspiring innovator who has started his journey in the entrepreneurial world in search for true answers to world problems. Currently studying 3rd year Business Management with Marketing, Tomer has been focusing on his start-up, Prodicode.com, aiming to create value through digital innovation in artificial intelligence and cyber-security.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="single_team wow">
                        <div class="team_thumb">
                            <img src="img/team-img/zeinabou.jpg" alt="Zeinabou Abass - Birmingham Startup Society">
                        </div>
                        <div class="single_team_details_info text-center">
                            <h4>Zeinabou Abass</h4>
                            <h5>Vice President</h5>
                            <h5><a href="https://www.linkedin.com/in/zeinabou-abass-3ba20b174/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn profile</a></h5>
                            <!-- <p>Laim is a first-year EPSRC PhD student in Physical Sciences for Health focused on understanding how proteins on our heart cell membranes communicate with each other. However, in her free time she is a public speaking and adrenaline addict, occasionally takes part in musical activities and dreams about her own BioTech one day.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single_team wow">
                        <div class="team_thumb">
                            <img src="img/team-img/franklin.jpg" alt="Franklin Elsim Putra - Birmingham Startup Society">
                        </div>
                        <div class="single_team_details_info text-center">
                            <h4>Franklin Elsim Putra</h4>
                            <h5>Chief Financial Officer</h5>
                            <h5><a href="https://www.linkedin.com/in/franklin-putra-085aa4174/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn profile</a></h5>
                            <!-- <p>Matthew is a final year Biomaterials Student who is passionate about entrepreneurship. He founded Hearty Foods for this reason.   He has held numerous societal positions such as Trading Floor VP and wants to employ a host of innovative technologies to reach out to students. Matthew is also a student partner for entrepreneur first.</p> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-sm-4">
                    <div class="single_team wow">
                        <div class="team_thumb">
                            <img src="img/team-img/miruna.jpg" alt="? - Birmingham Startup Society">
                        </div>
                        <div class="single_team_details_info text-center">
                            <h4>Miruna Chipara</h4>
                            <h5>Chief Financial Officer</h5>
                            <p>Mad scientist, Miruna believes in the advancement of science through entrepreneurship; graduated Biosciences with Business and among other things she worked in Stem Cell Research, in a tech start-up in Munich and at the SE European Research Centre. She now works on Tissue Engineering and 3D Bioprinting bringing healthcare technologies to market.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!---->
    <footer class="footer_area bg-brand-navy white section_padding_50">
      <div class="container">
        <div  class="row">
          <img class="row aligncenter" src="img/logo.png"/>
        </div>
        <div class="row section_padding_50">
          <h3>Ideas won't keep. Something must be done about them.</h3>
          <h5>Alfred North Whitehead</h5>
        </div>
        <div class="row copyright">
          <p>&#169 2019 University of Birmingham Startup Society</p>
        </div>
      </div>
    </footer>
    <!---->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/particles-active.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/jquery-jarallax.min.js"></script>
    <script src="js/active.js"></script>
</body>
</html>
